html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html {
    background-color: rgb(60, 56, 80);
    font-family: 'Roboto', sans-serif;
}

#checkboxes {
    margin-top: 5px;
}

#maindiv {
    display: none;
}

@media only screen and (max-width: 600px) {
    #maindiv {
    width: 100%;
    }
}

#student-info {
    white-space: pre;
}

.form-style-8{
	font-family: 'Roboto', arial, sans;
    width: 80%;
    max-width: 500px;
	padding: 30px;
    background: #fbf7f5;
	margin: 50px auto;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.33);
	-moz-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.33);
	-webkit-box-shadow:  0px 0px 30px rgba(0, 0, 0, 0.33);

}
.form-style-8 h2{
	background: #4D4D4D;
	font-family: 'Roboto', sans-serif;
	color: #fbf7f5;
	font-size: 18px;
	font-weight: 100;
	padding: 20px;
	margin: -30px -30px 30px -30px;
}
.form-style-8 input[type="text"],
.form-style-8 textarea,
.form-style-8 select
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-bottom: 10px;
	font: 16px Arial, Helvetica, sans-serif;
	height: 45px;
}
.form-style-8 textarea{
	resize:none;
	overflow: hidden;
}
