html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html {
    background-color: rgb(60, 56, 80);
    /* color: #e6e6e6; */
    font-family: 'Roboto', sans-serif;
}

/* .inputlabel {
    width: 20%;
} */
/*
nav {
    text-align: center;
    width: 100%;
} */

/* .input-group {
    width: 80%;
    margin: auto;
} */

/* input[type=text], select {
    outline: none;
    padding: 3px 0px 3px 3px;
    border: none;
    width: 100%;
    height: 35px;
    border-radius: 0px;
    margin: 5px auto;
    box-sizing: border-box
}

input:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 3px 0px 3px 3px;
    border: 3px solid rgba(81, 203, 238, 1);
    border-radius: 2px;
} */

#checkboxes {
    margin-top: 5px;
}

/* #maindiv {
    padding: 20px;
    margin: 30px auto;
    width: 40%;
    display: none;
    background-color: white;
} */

@media only screen and (max-width: 600px) {
    #maindiv {
    width: 100%;
    }
}

#student-info {
    white-space: pre
}

#auth {
    width: 100%;
    height: 3em;
    padding: 1em;
    background-color: rgba(139, 0, 0, 1);
}

#authcode {
    color: black;
    font-style: bold;
    font: 20px;
    margin: auto;
    width: 50%;;
    display: block;
}

/**/

.form-style-8{
	font-family: 'Roboto', arial, sans;
    width: 500px;
	padding: 30px;
    /* background: #FFFFFF; */
    background: #fbf7f5;
	margin: 50px auto;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.33);
	-moz-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.33);
	-webkit-box-shadow:  0px 0px 30px rgba(0, 0, 0, 0.33);

}
.form-style-8 h2{
	background: #4D4D4D;
	font-family: 'Roboto', sans-serif;
	color: #fbf7f5;
	font-size: 18px;
	font-weight: 100;
	padding: 20px;
	margin: -30px -30px 30px -30px;
}
.form-style-8 input[type="text"],
/* .form-style-8 input[type="date"],
.form-style-8 input[type="datetime"],
.form-style-8 input[type="email"],
.form-style-8 input[type="number"],
.form-style-8 input[type="search"],
.form-style-8 input[type="time"],
.form-style-8 input[type="url"],
.form-style-8 input[type="password"], */
.form-style-8 textarea,
.form-style-8 select
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-bottom: 10px;
	font: 16px Arial, Helvetica, sans-serif;
	height: 45px;
}
.form-style-8 textarea{
	resize:none;
	overflow: hidden;
}
/* .form-style-8 input[type="button"],
.form-style-8 input[type="submit"]{
	-moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	-webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	box-shadow: inset 0px 1px 0px 0px #45D6D6;
	background-color: #2CBBBB;
	border: 1px solid #27A0A0;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	padding: 8px 18px;
	text-decoration: none;
	text-transform: uppercase;
} */
/* .form-style-8 input[type="button"]:hover,
.form-style-8 input[type="submit"]:hover {
	background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
	background-color:#34CACA;
} */

