html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html {
    background-color: rgb(60, 56, 80);
    font-family: 'Roboto', sans-serif;
}

#maindiv {
    display: none;
}

#student-info {
    white-space: pre;
}

.user-entry {
    white-space: pre;
    background: #fbf7f5;
    border: 1px solid grey;
}

.form-style-8{
    font-family: 'Roboto', arial, sans;
    width: 80%;
    max-width: 500px;
    padding: 30px;
    background: #fbf7f5;
    margin: 50px auto;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.33);
    -webkit-box-shadow:  0px 0px 30px rgba(0, 0, 0, 0.33);

}
.form-style-8 h2{
    background: #4D4D4D;
    font-family: 'Roboto', sans-serif;
    color: #fbf7f5;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}
.form-style-8 input[type="text"],
.form-style-8 textarea,
.form-style-8 select
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}
.form-style-8 textarea{
    resize:none;
    overflow: hidden;
}

.styled-checkbox {
    position: absolute;
    opacity: 0;
}
.styled-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
}
.styled-checkbox + label:before {
    content: '';
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: white;
    border: 1px solid gray;
}
  .styled-checkbox:hover + label:before {
    background: #f35429;
}
  .styled-checkbox:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
  .styled-checkbox:checked + label:before {
    background: #f35429;
}
.styled-checkbox:checked + label:after {
    content: '';
    position: absolute;
    left: 15px;
    top: 9px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

@media only screen and (max-width: 600px) {
    .form-style-8 {
        margin: 5% auto;
    }
}

#checkboxes {
    padding-top: 10px;
}

